<nav [ngClass]="{'scrolled': isScrolled}" class="dark:bg-gray-900 fixed w-full z-20 top-0 start-0 navbar">
    <div class="text-white max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-2 px-2 navbar-container">
        
        <!-- Logo and Brand Name on the Left -->
        <div class="flex items-center space-x-3">
            <img src="assets/logorace.png" class="h-8 rotating-logo" alt="Impact Horizon Logo">
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">     
                       <img src="assets/logo.png" class="h-8 logo" alt="Impact Horizon Logo">
            </span>
        </div>

        <!-- Navbar Elements on the Right -->
      

        <!-- Collapsible Navbar Section -->
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
            <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0">
                <li>
                    <a href="/home" class="block py-2 px-3 text-white rounded md:bg-transparent md:p-0 hover:bg-blue-700 md:hover:bg-blue-700" aria-current="page">Home</a>
                </li>
                <li>
                    <a href="/simpage" class="block py-2 px-3 text-white rounded hover:bg-gray-700 md:hover:bg-blue-700 active:bg-blue-800 focus:bg-blue-800">Explore</a>
                </li>
                <li>
                    <a href="/quiz" class="block py-2 px-3 text-white rounded hover:bg-blue-700 md:hover:bg-blue-700 active:bg-blue-800 focus:bg-blue-800">Quiz</a>
                </li>
                <li>
                    <a href="#contact" class="block py-2 px-3 text-white rounded hover:bg-blue-700 md:hover:bg-blue-700 active:bg-gray-800 focus:bg-gray-800">Podcasts</a>
                </li>
            </ul>
        </div>
  
    </div>
</nav>
