.rotating-logo {
    animation: rotate3d 5s infinite linear;
    transform-style: preserve-3d;
}

@keyframes rotate3d {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: rotateX(180deg) rotateY(180deg);
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}
.navbar {
    position: fixed;
    
    width: 100%;
    background: linear-gradient(to bottom, #1d3a8a, transparent);
    z-index: 10; 
    
}
.navbar {
    transition: background-color 0.3s ease;
}

.navbar.scrolled {
    background-color:#152c62; /* Updated background color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for effect */
}

/* Navbar container adjustments */
 .navbar-container {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    width:101%;

   
}

/* Spacing for the menu items */
.navbar ul {
    display: flex;
    gap:2rem;
    justify-content:flex-end; /* Adds space between each list item */
}

.navbar ul li {
    list-style: none;
}

/* Menu item styles */
.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.logo{
    width:100px;
    height:80px;
}