<nav [ngClass]="{'scrolled': isScrolled}" class="dark:bg-gray-900 fixed w-full z-20 top-0 start-0 navbar">
    <div class="text-white max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-2 px-2 navbar-container">
        
        <!-- Logo and Brand Name on the Left -->
        <div class="flex items-center space-x-3">
            <img src="assets/logorace.png" class="h-8 rotating-logo" alt="Impact Horizon Logo">
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">     
                       <img src="assets/logo.png" class="h-8 logo" alt="Impact Horizon Logo">
            </span>
        </div>

        <!-- Navbar Elements on the Right -->
      

        <!-- Collapsible Navbar Section -->
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
            <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0">
                <li>
                    <a href="/home" class="block py-2 px-3 text-white rounded md:bg-transparent md:p-0 hover:bg-blue-700 md:hover:bg-blue-700" aria-current="page">Home</a>
                </li>
                <li>
                    <a href="/simpage" class="block py-2 px-3 text-white rounded hover:bg-gray-700 md:hover:bg-blue-700 active:bg-blue-800 focus:bg-blue-800">Explore</a>
                </li>
                <li>
                    <a href="/quiz" class="block py-2 px-3 text-white rounded hover:bg-blue-700 md:hover:bg-blue-700 active:bg-blue-800 focus:bg-blue-800">Quiz</a>
                </li>
                <li>
                    <a href="https://badui-8033f.web.app/" class="block py-2 px-3 text-white rounded hover:bg-blue-700 md:hover:bg-blue-700 active:bg-gray-800 focus:bg-gray-800">Bad UI Challenge</a>
                </li>
            </ul>
        </div>
  
    </div>
</nav>
<div *ngIf="showPopup" class="fixed top-20 right-0 mt-16 mr-4 bg-white dark:bg-gray-800 shadow-lg rounded-lg p-4 z-30 max-w-sm">
    <div class="absolute -top-10 left-1/2 transform -translate-x-1/2">
        <svg
          class="animate-bounce w-6 h-6 text-blue-500"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18" />
        </svg>
      </div>
    
    <div class="flex justify-between items-center">
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Bad UI Challenge</h3>
      <button (click)="closePopup()" class="text-gray-400 hover:text-gray-900 dark:hover:text-white">
        ✖
      </button>
    </div>
    <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
      Check out our latest project in the challenge Bad UI Challenge .
    </p>
    <a href="https://badui-8033f.web.app/" class="inline-block mt-4 px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded hover:bg-blue-700">
      Visit the Website
    </a>
  </div>