<div class="image-container">
    <img class="background-image" src="assets/image.png" alt="Impact Horizon Image">

    <div class="form-overlay d-flex flex-column justify-content-center  content" >
        <div class="w-75 bg-white p-4 form-container">
            <div class=" d-flex justify-content-center align-items-center">
                <img src="assets/logo.png" alt="Photo" class="photo-image" style="width:150px;">
              </div>
              <br />
            <h2 class="mb-3 text-center">Welcome Back!</h2>
            <form>
                <div class="form-group">
                    <div class="form-floating mb-3 position-relative">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                    </div>
                </div>
                <div class="form-group position-relative">
                    <div class="form-floating">
                        <input class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <button type="button" class="position-absolute top-50 end-0 translate-middle-y me-3 btn "></button>
                </div>
                <br />
                <button type="submit" class="btn btn-primary btn-lg btn-block w-100">Login Now</button>
                <div class="mt-3 text-center">
                    <a href="#">Forget password? Click here</a>
                </div>


            </form>
            <div class="mt-3 text-center">
                <a href="#" class="text-gray-400">Create new Account?</a>
            </div>
        </div>
    </div>
</div>
