/* Ensure that the body and HTML take up the full height */
body, html {
    height: 100%;
    margin: 0;
}

/* Style for the image-container and background image */
.image-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    display: flex;
    
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire background while maintaining aspect ratio */
    z-index: 0; /* Ensure the image stays behind the content */
}

.form-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    z-index: 1; 
}


.form-container {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    padding: 100px;
    max-width: 500px; 
    width: 100%;
    text-align: left;
    
}

.content{
    padding:125px;
    height:800px;
    width:1000px;
}
h2, p {
    color: black;
}

.btn-lg {
    width: 100%;
}

@media (max-width: 768px) {
    .form-container {
        padding: 20px;
        margin: 20px;
    }

    .background-image {
        height: 50vh;
    }
}
